@import "tailwindcss";

@theme {
  --font-family-sans: "Roboto", sans-serif;

  --color-brand-primary: #000e47;
  --color-brand-contrast: #1e2f73;
  --color-brand-caption: #45518c;
  --color-bg-light: #f2f9fd;
  --color-footer-dark: #0c1e5d;
  --color-copyright-dark: #000e47;
  --color-border-light: #e9e9e9;
  --color-border-nav: #babfd6;
  --color-icon-bg: #e1f3ff;
  --color-footer-muted: #babfd6;
  --color-footer-subtle: #8e95ba;
}

body {
  color: #000e47;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
